* {
    box-sizing: border-box;
    max-width: 100vw;
  }
  
  .html {
    block-size: 100vw;
    width: 100vw;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {display: none;}
  
  body {
    block-size: 100vw;
    margin: 0;
    max-width: 100vw;
  }
  
  .header {
    max-width: 100vw;
    height: 1cm;
    text-align: center;
    padding-top: 1.5vh;
    background-color: black;
    color: white;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    font-size: 0.45vw;
    letter-spacing: 0.075vw;
    z-index: 5;
  }
  
  .portada {
    position: absolute;
    top: 9vh;
    width: 100%;
    z-index: -8;
  }
  
  .logo { width: 7.5vw;
    position: relative;
    top: 2vh;
    left: 1.65vw;
    z-index: 2;
  }
  
  .menu {
    position: relative;
    display: flex;
    z-index: 2;
  }
  
  .section {
    position: relative;
    top: 3.7vh;
    left: 3.9vw;
    margin-right: 1.12vw;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: .54vw;
    z-index: 4;
    letter-spacing: .01vw;
  }

  
  .bfriday {margin-top: 5vh;
    width: 35vw;
  }
    .search {
    position: relative;
    z-index: 5;
   font-size: .85vw;
    left: 93.75vw;
    top: -1.45vh;
    color: black;
  }
  
  .cart {
    position: relative;
    z-index: 5;
    font-size:  .85vw;
    left: 97.2vw;
    top: -1.45vh;
    color: black;
  }
  .sudaderas-container {
    position: relative;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 31.3vw);
    column-gap: .85vw;
    padding-right: 5vw;
  }
  
  .sudadera {
    position: relative;
    top: 79.5vh;
    width: 31.3vw;
    height: 63vh;
    left: -.5vw;
  }
  .sudaderafigcap {
    position: relative;
    top: 79.5vh;
    left: -0.5vw;
    z-index: 10;
    width: 31.3vw;
    padding-top: 0.75vh;
    font-family: "Roboto", sans-serif;
    font-size: .65vw;
    font-weight: 600;
    letter-spacing: 0.0225vw;
  }
  
  .span {
    text-decoration: line-through;
  }
  
  .sudaderaprice {    font-family: "Roboto", sans-serif;
    font-size: .51vw
    ;font-weight: 600;
  }
  
  .gallery-container {
    position: relative;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(9, 22.3vw);
    column-gap: .8vw;
  }
  
  .antonio {
    position: relative;
    top: 99vh;
    width: 22.3vw;
    height: 45vh;
    left: -0vw;
  }
  .figcap {
    position: relative;
    top: 99.5vh;

    z-index: 10;
    width: 22.5vw;
    padding-top: 0.75vh;
    font-family: "Roboto", sans-serif;
    font-size: .65vw;
    font-weight: 600;
    letter-spacing: 0.02vw;
  }
  
  .span {
    text-decoration: line-through;
  }
  
  .price {    font-family: "Roboto", sans-serif;
    font-size: .55vw
  }

  .arrow {
    position: relative;
    width: 3vw;
    font-size: 2.5vw;
    z-index: 40;
  background-color: white;border-radius: 50%;
  }
  #prev{visibility: hidden;}
  .prev {
    position: relative;
    z-index: 20;
    top: 121vh;
    left: -115.4vw;
    margin: 0;
  }
  #next{visibility: hidden;}
  .next {
    z-index: 20;
    top: 121vh;
    left: -21vw;
  }
  
  .numbertext {
    position: absolute;
    visibility: hidden;
  }
  
  /* Fading animation */
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
    /* .rec {
    position: relative;
    left: 22.02vw;
    top: 19vh;
    width: 8vw;
    height: 5vh;
    background-color: rgb(194, 10, 10);
    z-index: 6;
    font-size: 0.78vw;
    font-weight: 700;
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding-top: 1.5vh;
    letter-spacing: 0.03vw;
  } */
  

  /* .desc40 {
    position: relative;
    background-color: black;
    color: white;
    z-index: 5;
    top: 100vh;
    text-align: center;
    height: 8vh;
    padding-top: 2vh;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 1.5vw;
    left: 2.6vw;
    margin-right: 4.9vw;
  }
  
  .gallery2-container {
    position: relative;
    width: 100vw;
    top: 20vh;
    display: grid;
    grid-template-columns: repeat(9, 29.3vw);
    column-gap: 3.5vw;
  } */
  
  
  /* .rec2 {
    position: relative;
    left: 22.02vw;
    top: 19vh;
    width: 8vw;
    height: 5vh;
    background-color: rgb(194, 10, 10);
    z-index: 6;
    font-size: 0.78vw;
    font-weight: 700;
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding-top: 1.5vh;
    letter-spacing: 0.03vw;
  } */
  
  .figurita {
    display: grid;
    grid-template-columns: repeat(2, 42vw);
    column-gap:5.5vw; 
  }
  
  .imgdiv {padding-right: 0.3vw;
    width: 47.4vw;
    position: relative;
    top: 88vh;
  }
  
  /* .arrow2 {
    position: relative;
    z-index: 20;
    width: 2.5vw;
    opacity: 50%;
    z-index: 40;
  }
  
  .prev2 {
    position: relative;
    z-index: 20;
    top: 111vh;
    left: -130.5vw;
    margin: 0;
  }
  
  .next2 {
    z-index: 20;
    top: 111vh;
    left: -1.3vw;
  }
  
  .desc30 {
    position: relative;
    background-color: black;
    color: white;
    z-index: 5;
    top: 137vh;
    text-align: center;
    height: 8vh;
    padding-top: 2vh;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 1.5vw;
    left: 2.6vw;
    margin-right: 4.9vw;
  } */
  
  /* .descuento30{position: relative; display: flex; justify-content: center; align-items: center; max-width: 100vw; top: 20vh;} */
/*   
  .gallery3-container {
    position: relative;
    width: 100vw;
    top: 57vh;
    display: grid;
    grid-template-columns: repeat(9, 29.3vw);
    column-gap: 3.5vw;
  }
  
  .rec3 {
    position: relative;
    left: 22.02vw;
    top: 19vh;
    width: 8vw;
    height: 5vh;
    background-color: rgb(194, 10, 10);
    z-index: 6;
    font-size: 0.78vw;
    font-weight: 700;
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding-top: 1.5vh;
    letter-spacing: 0.03vw;
  }
  
  .arrow3 {
    position: relative;
    z-index: 20;
    width: 2.5vw;
    opacity: 50%;
    z-index: 40;
  }
  
  .prev3 {
    z-index: 20;
    top: 111vh;
    left: -130.5vw;
    margin: 0;
  }
  
  .next3 {
    z-index: 20;
    top: 111vh;
    left: -1.3vw;
  } */
  
  .redes {
    position: relative;
    top: 110vh;
    left: 40%;
  }
  
  .icon {
    width: 2.5vw;
    height: 5vh;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: .5vw;
    padding: 0.5vw;
  }
  
  .aviso {
    position: relative;
    display: flex;
    justify-content: center;
    top: 113vh;
    font-family: "Open Sans", sans-serif;
    font-size: 0.63vw;
  }
  
  .avisosecc {
    margin-right: 1.3vw;
  }
  
  .logosaviso {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 116vh;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20.5vh;
  }
  
  .logossecc {
    border: 1px solid rgba(0, 0, 0, 0.274);
    margin-right: 1.3vw;
    width: 2vw;
    height: 2.5vh;
 
  }
  
  .footer {
    position: relative;
    top: 98vh;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 0.5vw;
  }
  
  .hide {
    display: none;
  }
  .hide2 {
    display: none;
  }

