* {
    box-sizing: border-box;
    max-width: 100vw;
}

.html {
    block-size: 100vw;
    width: 100vw;
    /* overflow: hidden; */
}

::-webkit-scrollbar {
    display: none;
}

body {
    block-size: 100vw;
    margin: 0;
    max-width: 100vw;
}

.header {
    max-width: 100vw;
    height: 1cm;
    text-align: center;
    padding-top: 0.32cm;
    background-color: black;
    color: white;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    font-size: 0.55vw;
    letter-spacing: 0.06cm;
    z-index: 5;
}

.portada {
    position: absolute;
    width: 100%;
    z-index: -8;
}

.logo {
    position: relative;
    top: 5vh;
    left: 2.5vw;
    z-index: 2;
}

.menu {
    position: relative;
    display: flex;
    z-index: 2;
}

.section {
    position: relative;
    top: 5vh;
    left: 7vw;
    color: white;
    margin-right: 1.7vw;
    font-weight: 550;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: clamp(0.65vw, 05vw, 0.8vw);
    z-index: 4;
}

.promo {
    z-index: 4;
    position: relative;
    top: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-family: "Open Sans", sans-serif;
}

.bfriday {
    margin-top: -25vh;
    width: 37vw;
}

.desc50 {
    position: relative;
    background-color: black;
    color: white;
    z-index: 5;
    top: 80vh;
    text-align: center;
    height: 8vh;
    padding-top: 2.9vh;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 1.9vw;
    left: 2.6vw;
    margin-right: 4.9vw;
}

.gallery-container {
    position: relative;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(9, 29.1vw);
    column-gap: 3.75vw;
}

.antonio {
    position: relative;
    top: 81.5vh;
    width: 29.1vw;
    height: 50vh;
    left: -1.5vw;
}

.rec {
    position: relative;
    left: 19.6vw;
    top: 31vh;
    width: 8vw;
    height: 4vh;
    background-color: rgb(194, 10, 10);
    z-index: 6;
    font-size: 0.78vw;
    font-weight: 700;
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding-top: 1.5vh;
    letter-spacing: 0.03vw;
}

.search {
    position: relative;
    z-index: 5;
    width: 2.5vw;
    height: 2.5vh;
    left: 92.3vw;
    top: 0.9vh;
}

.cart {
    position: relative;
    z-index: 5;
    width: 2.5vw;
    height: 2.5vh;
    left: 91.8vw;
    top: 0.9vh;
}

.arrow {
    position: relative;
    width: 2.5vw;
    opacity: 50%;
    z-index: 40;
}

.prev {
    position: relative;
    z-index: 20;
    top: 111vh;
    left: -130.5vw;
    margin: 0;
}

.next {
    z-index: 20;
    top: 111vh;
    left: -1.5vw;
}

.numbertext {
    position: absolute;
    visibility: hidden;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.desc40 {
    position: relative;
    background-color: black;
    color: white;
    z-index: 5;
    top: 100vh;
    text-align: center;
    height: 8vh;
    padding-top: 2.9vh;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 1.9vw;
    left: 2.6vw;
    margin-right: 4.9vw;
}

.gallery2-container {
    position: relative;
    width: 100vw;
    top: 20vh;
    display: grid;
    grid-template-columns: repeat(9, 29.3vw);
    column-gap: 3.5vw;
}

.figcap {
    position: relative;
    top: 77.65vh;
    left: 0vw;
    z-index: 10;
    width: 29.5vw;
    padding-top: 0.75vh;
    font-family: "Oswald", sans-serif;
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: 0.07vw;
}

.span {
    text-decoration: line-through;
}

.price {
    font-size: 1vw;
}

.rec2 {
    position: relative;
    left: 19.6vw;
    top: 31vh;
    width: 8vw;
    height: 4vh;
    background-color: rgb(194, 10, 10);
    z-index: 6;
    font-size: 0.78vw;
    font-weight: 700;
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding-top: 1.5vh;
    letter-spacing: 0.03vw;
}

.figurita {
    position: relative;
    left: -1vw;
    display: grid;
    grid-template-columns: repeat(2, 39vw);
    column-gap: 8.5vw;
}

.imgdiv {
    width: 47vw;
    position: relative;
    top: 117vh;
}

.arrow2 {
    position: relative;
    z-index: 20;
    width: 2.5vw;
    opacity: 50%;
    z-index: 40;
}

.prev2 {
    position: relative;
    z-index: 20;
    top: 111vh;
    left: -130.2vw;
    margin: 0;
}

.next2 {
    z-index: 20;
    top: 111vh;
    left: -1.5vw;
}

.desc30 {
    position: relative;
    background-color: black;
    color: white;
    z-index: 5;
    top: 137vh;
    text-align: center;
    height: 8vh;
    padding-top: 2.9vh;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 1.9vw;
    left: 2.6vw;
    margin-right: 4.9vw;
}


/* .descuento30{position: relative; display: flex; justify-content: center; align-items: center; max-width: 100vw; top: 20vh;} */

.gallery3-container {
    position: relative;
    width: 100vw;
    top: 57vh;
    display: grid;
    grid-template-columns: repeat(9, 29.3vw);
    column-gap: 3.5vw;
}

.rec3 {
    position: relative;
    left: 19.6vw;
    top: 31vh;
    width: 8vw;
    height: 4vh;
    background-color: rgb(194, 10, 10);
    z-index: 6;
    font-size: 0.78vw;
    font-weight: 700;
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding-top: 1.5vh;
    letter-spacing: 0.03vw;
}

.arrow3 {
    position: relative;
    z-index: 20;
    width: 2.5vw;
    opacity: 50%;
    z-index: 40;
}

.prev3 {
    z-index: 20;
    top: 111vh;
    left: -130.2vw;
    margin: 0;
}

.next3 {
    z-index: 20;
    top: 111vh;
    left: -1.5vw;
}

.redes {
    position: relative;
    top: 146vh;
    left: 40%;
}

.icon {
    width: 2.5vw;
    height: 5vh;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 1.2vw;
    padding: 0.5vw;
}

.aviso {
    position: relative;
    display: flex;
    justify-content: center;
    top: 148vh;
    font-family: "Open Sans", sans-serif;
    font-size: 0.83vw;
}

.avisosecc {
    margin-right: 1.3vw;
}

.logosaviso {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 151vh;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20.5vh;
}

.logossecc {
    border: 1px solid rgba(0, 0, 0, 0.274);
    margin-right: 1.3vw;
    width: 2.5vw;
    height: 3vh;
    padding: 0.2vw;
}

.footer {
    position: relative;
    top: 133vh;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 0.7vw;
}

.hide {
    display: none;
}

.hide2 {
    display: none;
}